.Teacher-card{
	width: 75%;
	height: 500px;
	display: flex;
	justify-content: start;
	flex-direction: column;
	margin-top: 150px;
}

.Teacher-header h2 {
	font-size: 48px;
    font-weight: bold;
    margin: 0 0 20px;
    line-height: 38px;
	font-family: sans-serif;
	color: #00A651;
}

.Teacher-header p {
	width: 50%;
	margin-right: 10px;
	padding-top: 5px;
	font-family: sans-serif;
	font-size: 17px;
    line-height: 26px;
	font-weight: 400;
}